body { margin:0; padding:0; overflow-x:hidden; overflow-y: hidden; }
#map { position:absolute; top:0; bottom:0; width:100%; }

.boxdraw {
	background: rgba(56,135,190,0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#box1 {
	position:absolute;
	height:90%;
	width:330px;
	top:0;
	left:0;
}

#box2 {
	transform: translate(0%);
}

#titleSidebar {
	position: absolute;
	text-align: center;
	font-family: 'Noticia Text', serif;
	font-weight: 700;
	width: 500px;
	height: 100%;
	background: rgba(200,200,200,1);
}
#titleSidebar h3 {
	font-size: 36px;
}
#titleSidebar h1 {
	font-size: 56px;
}

#importUserData {
  	position:absolute;
	height:auto;
	width:200px;
	top:0;
	right:10%;
	background:rgba(0,0,0,0.5);
}

.map {
	
}

#map2 {
	transform: translate(0%);
}



#splash01 {
	-webkit-transition: transform .5s;
	transition: transform .5s;
}

#splash02 {
	-webkit-transition: transform .5s;
	transition: transform .5s;
}